.breadcrumbs {
    background: #eff1f7;
    padding-top: 120px;
    padding-bottom: 120px;
    background: url(../../images/background/breadcrumbs-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}