.rs-footer {
    background: #eff1f7;
    position: relative;
    padding-top: 95px;
    background: url(../../images/background/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.footer-bottom {
    background: #eef1f8;
}